{% extends "base.html" %}

{% block the_title %}
The restaurant details
{% endblock the_title %}


{% block content %}
	<a href="{% url 'restaurant_list' %}">
	<p>
		Back to the restaurants list
		
	</p>
    </a>
    <div class="card">
		<ul class="list-group list-group-flush">
			<li class="list-group-item"><h5>Name: <span class="badge baddge-secondry">{{restaurant_detail.name}}</span></h5></li>
			<li class="list-group-item">Description: {{restaurant_detail.description}}</li>
			<li class="list-group-item">Opening time: {{restaurant_detail.opening_time}}</li>
			<li class="list-group-item">Closing time: {{restaurant_detail.closing_time}}</li>
		</ul>
		<div class="jumbotron jumbotron-fluid">
		  	<div class="container">
		 	   <h1 class="display-4">The restaurant details</h1>
		 	</div>
		</div>
	</div>
{% endblock content%}