{% extends "base.html" %}

{% block the_title %}
	the list of Restaurants
{% endblock the_title %}

{% block content%}

<div class="jumbotron">
  <h1 class="display-4">Restaurants</h1>
  <p class="lead">This is the list of restaurants for you to choose from</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'restaurant_create' %}" role="button">ADD New Restaurant</a>
  </p>
</div>
<div class="row">
	{% for item in restaurants %}
		<div class="col-md-6">
			<div class="card">
				{% if article.image %}
					<img class="card-img-top" src="{{item.image.url}}" alt="Card image cap">
				{% endif%}
			  <div class="card-body">
			    <h5 class="card-title">{{item.name}}</h5>
			    <h6 class="card-subtitle mb-2 text-muted">{{item.opening_time}} - {{item.closing_time}}</h6>
			    <p class="card-text">{{item.description}}</p>
			    <button class="btn btn-secondry" onclick="message({{restaurant.id}})">
			    	<span id="heart-number-{{restaurant.id}}">{{restaurant.like_set.count}}</span>
					<i id= "heart-color-{{restaurant.id}}" 
					   class="fas fa-heart {% if restaurant in my_likes %}text-danger{% endif %}"></i>
			    </button>
			    <br>

			    <a href="{% url 'restaurant_update' restaurant_id=item.id %}" class="card-link">Update</a>
			    <a href="{% url 'restaurant_delete' restaurant_id=item.id %}" class="card-link">Delete</a>
			    <a href="{% url 'restaurant_detail' restaurant_id=item.id %}" class="card-link">Detail</a>
			  </div>
			</div>
		</div>
	{% endfor %}
</div>
<script >
	function message(){
		$.ajax({
			type:"GET",
			url:"{% url 'like_button' restaurant_id=3 %}"
			error:function(){
				console.log("Noob, you couldn't do it.")
			},
			success:function(data){
				console.log(data);
				$("heart-number").text(data.number);
				if(data.action==="like"){
					$("#heart-color").addClass("text-danger")
				}
				else{
					$("#heart-color").removeClass("text-danger")
				}
			}
		})
	}
</script>

{% endblock content%}



